<table width="100%" height="500" align="right" style="position:relative; background-image: linear-gradient(45deg, #5d5555, transparent);">
	<tr><td>
   <form class="form-horizontal"  [formGroup]="loginForm" (ngSubmit) = "onClickSubmit(loginForm.value)">
   <div class="form-group">
   	<div class="col-lg-7" style="padding-left: 45%;">
   		<h2 class="red-text text-center" style="width:max-content">SMC Login</h2>
	</div> 
	</div>
	<br/>
	<br/>
   <div class="form-group" style="padding-left: 20%;">
      <label for="userName"  class="col-sm-3 control-label">user name: </label>
      <div class="col-lg-4" >
         <input type="text" class="form-control" id="userName" formControlName="userName"
            placeholder="Please input your user name" >
      </div>
   </div>
   <div class="form-group" style="padding-left: 20%;padding-top:30px;">
      <label for="password" class="col-sm-3 control-label" >password: </label>
      <div class="col-lg-4" >
         <input type="password" class="form-control" id="password"  formControlName="password"
            placeholder="Please input password" >
      </div>
   </div>
      <span style="padding-left: 40%;padding-top:70px;">usky: login as user; admsky: login as admin</span>

   <div class="form-group" style="padding-left: 38%; padding-top: 50px;">
      <div class="col-sm-offset-2 col-sm-7">
		<input class="btn btn-default" type = "submit" value = "Logon">
      </div>
   </div></form>
 </td></tr></table>
