<app-header></app-header>
<!--<p>this is the body begin in app.component.html </p> -->
<div class="container">
<router-outlet></router-outlet>
</div>
<!-- <p>this is the body end in app.component.html -->
<!--button   class="btn btn-primary" routerLink="/usertrainsearch">user train</button><span>&nbsp;</span>
<button   class="btn btn-primary" routerLink="/trainersearch">trainer search</button><span>&nbsp;</span>
<button   class="btn btn-primary" routerLink="/admusers">admin role</button><span>&nbsp;</span-->
