<div width="100%" align="right" style="position:relative; background-image: linear-gradient(45deg, #5d5555, transparent);">
	<form class="form-horizontal" style="height:500px;" [formGroup]="exchForm" role="form" (ngSubmit)="onSubmit(exchForm.value)">
		<div class="form-group">
			<div class="col-lg-8">
				<h3 class="text-center" style="padding-left: 55%;">Stock Exchange Profile</h3>
			</div>
		</div>

		<div class="form-group" style="padding-left: 20%;">
			<label class="col-sm-2 control-label" for="exchCd">Exchange Code:</label>
			<div class="col-sm-6">
				<select class="form-control" id="exchCd" formControlName="exchCd">
					<option value="BSE">BSE Stock Exchange</option>
					<option value="NSE">NSE Stock Exchange</option>
					<option value="SHE">Shanghai Stock Exchange</option>
					<option value="SZE">Shenzhen Stock Exchange</option>
				</select>
			</div>
		</div>
		<div class="form-group" style="padding-left: 20%;">
			<label class="col-sm-2 control-label" for="exchName">Exchange Name:</label>
			<div class="col-sm-6">
				<input class="form-control" id="exchName" formControlName="exchName" type="text" value="Exchange Name...">
			</div>
		</div>

		<div class="form-group" style="padding-left: 20%;">
			<label class="col-sm-2 control-label" for="contactAddr">Address:</label>
			<div class="col-sm-6">
				<input class="form-control" id="contactAddr" formControlName="contactAddr" type="text" value="Address...">
			</div>
		</div>

		<div class="form-group" style="padding-left: 20%;">
			<label class="col-sm-2 control-label" for="brief">Description:</label>
			<div class="col-sm-6">
				<input class="form-control" id="brief" formControlName="brief" type="text" value="Description...">
			</div>
		</div>

		<div class="form-group" style="padding-left: 20%;">
			<label class="col-sm-2 control-label" for="remarks">Remarks:</label>
			<div class="col-sm-6">
				<input class="form-control" id="remarks" formControlName="remarks" type="text" value="Remarks...">
			</div>
		</div>
		<div class="btn-group col-sm-offset-6 col-sm-6" style="padding-left: 9%; padding-top:20px;">
			<input class="btn btn-default" type="submit" value="Save">
			<input (click)="goBack()" class="btn btn-default" type="button" value="Back">
		</div>
	</form>
</div>